<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="menu_library_root"
            name="Library"
            web_icon="My_Library, static/description/library_icon.png"
    />

<!--    <menuitem-->
<!--            id="menu_library_data"-->
<!--            name="Data"-->
<!--            parent="menu_library_root"-->
<!--    />-->

</odoo>